#shop-section {
  max-width: 1400px;
  margin: 3rem auto;
}
.section-content {
  display: flex;
}
#side-navbar {
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.side-navbar-container ul li {
  font-size: 0.8rem;
  line-height: 2.1rem;
}
#shop-container {
  width: 100%;
}
.shop-head h1 {
  font-size: 2rem;
  text-align: center;
}
.shop-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.shop-item {
  width: 25%;
  margin: 2rem;
  padding: 0 1rem;
}
.item-image img {
  width: 100%;
  transition: .5s ease;
}

.buy-item{
  display: none;
  text-align: center;
  background-color:var(--logo-color);
  color: var(--white-color);
  font-size: 13px;
  padding:.5rem 4rem;
  position: absolute;
  transform: translate(2.6rem, -3.5rem);
}
.item-image img:hover{
  opacity: .5;
}
.item-image img:hover ~ .buy-item, .buy-item:hover{
  display: block;
}
.item-detail{
  text-align: center;
  padding: 1px;
}
.item-detail h1 {
  font-size: .9rem;
  margin: 0.2rem;
}
.item-detail p {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  margin: 0.3rem;
}
